.buttonContainer {
  height: 3.125rem;
  border-radius: .5rem;
  font-weight: 500;
  background: var(--purple-100);
  color: #fff;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter .2s;

  img {
    margin-right: .5rem;
  }

  &.outlined {
    background: #fff;
    border: 1px solid var(--purple-100);
    color: var(--purple-100);

    transition: .2s;

    &:hover {
      background: var(--red-100);
      border-color: var(--red-100);
      color: #fff;
    }
  }

  svg {
    margin-right: .5rem;
  }

  &:not(:disabled):hover {
    filter: brightness(.9);
  }
}